<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - AlaskaAirlines</title>
        <meta charset="utf-8" />
		<link href="~/Content/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
		<div class="container">
            @RenderBody()
		</div>
    </body>
</html>
